{% assign show_seo = include.show_seo | default: false %}

<section class="section section--footer">
    <div class="actions">

        <a class="action-link" href="tel:{{ site.data.site.phone }}"
            onclick="gtag('event','phone_click',{location:'footer'});">
            <div class="action-btn">
                <span class="action-ico" aria-hidden="true">
                    <svg viewBox="0 0 24 24" fill="none">
                        <path
                            d="M22 15.9 v3 a2 2 0 0 1-2.2 2 A19.8 19.8 0 0 1 3 5.2 a2 2 0 0 1 2-2.2 h3 a2 2 0 0 1 2 1.7 c.1.8.3 1.6.6 2.4 a2 2 0 0 1-.5 2.1 L9 10 a16 16 0 0 0 5 5 l.8-1.1 a2 2 0 0 1 2.1-.5 c.8.3 1.6.5 3.4.6 A2 2 0 0 1 22 15.9Z"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </span>
                <span>
                    {{ site.data.site.footer_call_button_text }}
                </span>
            </div>
        </a>

        <a class="action-link" href="{{ '/where-to-find-us-lviv/' | relative_url }}"
            onclick="gtag('event','where_to_find_us_lviv_click',{location:'footer'});">
            <div class="action-btn">
                <span class="action-ico" aria-hidden="true">
                    <svg viewBox="0 0 24 24" fill="none">
                        <path d="M12 22s7-4.4 7-12a7 7 0 1 0-14 0c0 7.6 7 12 7 12Z" stroke="currentColor"
                            stroke-width="2" />
                        <path d="M12 11.5a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" stroke="currentColor"
                            stroke-width="2" />
                    </svg>
                </span>
                <span>
                    {{ site.data.site.footer_map_button_text }}
                </span>
            </div>
        </a>

    </div>

    {% if show_seo %}
        <!-- About company -->
        <div class="footer-about-text">
            {{ site.data.site.seo-optimization.index-footer-about-text | markdownify }}
            <a href="{{ '/auto-lviv/' | relative_url }}" class="footer-about-link">Каталог автомобілів у наявності.</a>
        </div>
    {% endif %}

    <div class="copyright">
        © {{ "now" | date: "%Y" }} {{ site.data.site.footer_copyright_text }}
    </div>
</section>